.motherPage {
  padding-top: 20px;
}
.effect{
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
}
.effect:hover{
  transform: scale(1.15);
}

.mother{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  color: white;
  font-weight: 1000;
  font-size: 22.5px;
}

.title_2{
  margin-left: 28px;
  color: gold;
  font-weight: 1000;
  font-size: 22px;
}

.ButtonStyle{
  color: white;
  font-weight: 500;
  font-size: 22px;
}

body{
  margin: 0;
  background-color: #000040;
  background-image: url(./images/cloud-2.png);
  background-repeat: no-repeat;
  background-size: 1000px 400px;
  background-position-x: -200px;
  background-position-y: 380px;
}
.img_1{
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
}
.img_1:hover{
  transform: scale(1.15);
}

.refreshButtonPosition{
  background-position-x: left;
}

.positionAjust{
  position: absolute;
  position: inherit;
}
.appFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@keyframes shakingEffect {
  0% {transform: translateX(0);}
  25% {transform: translateX(5px);}
  50% {transform: translateX(-5px);}
  75% {transform: translateX(5px);}
  100% {transform: translateX(0);}
}
.nextSquare {
  animation: shakingEffect 200ms linear infinite;
}

.sikidyEightDownStyle{
  position: relative;
  padding-top: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerPosition{
  z-index: -1;
  position: relative;
  top: -450px;
  left: 62px;
}

.planetePosition{
  z-index: 1;
  position: relative;
  top: -180px;
  left: -210px;
}
.ButtonkajyPosition{
  z-index: 4;
  position: relative;
  top: -200px;
  left: -89.5px;
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
}
.ButtonkajyPosition:hover{
  transform: scale(1.15);
}

.homeImgPosition{
  z-index: 2;
  position: relative;
  top: -700px;
  left: 150px;
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
}
.homeImgPosition:hover{
  transform: scale(1.15);
}

.sirImgPosition{
  z-index: 3;
  position: relative;
  top: -700px;
  left: 550px;
}

.THMDisplay{
  display: flex;
  flex-direction: row;
}

.THMDisplayC{
  display: flex;
  flex-direction: column;
}

.imgPosition{
  padding-right: 5px;
  padding-bottom: 2px;
}
.space{
  height: 10px;
}

.displayStyle{
  padding-top: 5px;
  display: flex;
  flex-direction: row;
}

.display2{
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.display3{
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.paddingTop{
  padding-top: 20px;
}